* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

html, body {
	width: 100%;
	min-height: 100%;
	/*font-family: "微軟正黑體", Microsoft JhengHei, Arial, sans-serif;*/
	font: 14px Arial,helvetica,clean,"微軟正黑體", Microsoft JhengHei,sans-serif;
	margin: 0;
	padding: 0;
	-webkit-text-size-adjust: none;
}

.wrapper {
	position: relative;
	width: 100%;
	min-width: 1250px;
	min-height: 100vh;
}

/* Common style */
h1 {
	font-size: 24px;
	line-height: 1.5em;
	font-weight: bold;
	margin-bottom: 20px;
}

h2 {
	line-height: 1.5em;
	font-weight: bold;
}

h3 {
	line-height: 1.5em;
	font-weight: bold;
}

h4 {
	line-height: 1.7em;
	font-weight: bold;
}

h5 {
	line-height: 1.7em;
	text-align: center;
}

label.aTag {
	color: #1689ff;
}

label.checkbox {
	display: inline-block;
    line-height: 30px;
    margin-right: 10px;
    padding: 0 10px;
    vertical-align: middle;
    color: #5d5d5d;
    border: 1px solid #dcdcdc;
    background: #fff;
}

label.qty-btn {
	display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 27px;
    font-size: 17px;
    line-height: 25px;
    color: #989898;
    background: #fefefe;
    background-image: -webkit-gradient(linear,left top, left bottom,from(#fff),to(#efefef));
    background-image: linear-gradient(to bottom,#fff,#efefef);
    border: 1px solid #cecece;
}

label.input {
	display: inline-block;
    padding: 0 5px;
    width: 55px;
    line-height: 25px;
    text-align: center;
    vertical-align: middle;
    border-width: 1px 0;
    box-shadow: inset 2px 2px 6px #e6e6e6;
    border: 1px solid #cecece;
    background-color: #fff;
}

label.btn {
	display: inline-block;
    min-height: 40px;
    line-height: 40px;
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 0 12px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 18px;
    color: #fff;
    border-radius: 8px;
}

.btnOrange {
	background: #ff4800;
    box-shadow: 0px 3px 0px #CC3902;
}

.btnGreen {
    background: #129900;
    box-shadow: 0px 3px 0px #0D7B00;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clearfix::after {
	content: '';
	display: block;
	clear: both;
}

.flexWrap {
	display: -webkit-flex;
	display: flex;
}

.flex0 {
	-webkit-flex: none;
	-ms-flex: none;
	flex: none;
}

.flex1 {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.mr-15 {
	margin-right: 15px;
}


header {
    width: 100%;
    min-width: 1250px;
    height: 45px;
    margin: 0 auto;
    padding: 0;
    background: url('../images/pchome/header.png') #f1f1f1;
	background-repeat: no-repeat;
	background-position: center;
}

main {
	/*width: 1250px;*/
	width: 1030px;
	margin: 0 auto 20px;
	padding: 0 20px;
}

.breadcrumb {
	margin: 10px auto 0;
	padding-left: 25px;
	background: url('../images/pchome/home_icon.gif') no-repeat;
	background-position: 6px 6px;
	line-height: 26px;
	font-size: 13px;
}

.breadcrumb label {
	color: #1689ff;
}

.seller-board {
	display: flex;
	height: 30px;
	margin: 10px 0;
	border: 1px #ff9000 solid;
}

.seller-board-title {
	flex: 1;
	line-height: 30px;
	padding: 0 10px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
    cursor: default;
    color: #fff;
    background: linear-gradient(to bottom, #ffc500 0%,#ff9800 100%);
}

.seller-board-content {
	flex: none;
	width: 450px;
	background: url('../images/pchome/sellerboard.png') no-repeat;
	background-position: top right;
}

.intro-section {
	display: flex;
}

.intro-section-left {
	width: 300px;
	flex: none;
}

.intro-section-right {
	flex: 1;
	max-width: 700px;
	margin-left: 20px;
}

.item-gallery {
	padding: 10px;
}

.item-misc-info {
	font-size: 14px;
    line-height: 1.5em;
    color: #818181;
}

.item-number {
    border-top: 1px solid #D6E0E8;
    padding: 5px;
}

.view {
	background: #ffe18c;
    padding: 1px 6px;
}

.item-info-seller {
	width: 180px;
	margin: 5px auto;
	border: 1px solid #f6bf0d;
	color: #6f5949;
}

.item-seller-title {
	padding: 5px 15px;
    background: linear-gradient(to bottom,  #fff1bd 1%,#ffdf88 100%);
    text-align: center;
}

.seller-row {
	margin: 2px 0;
	padding: 0px 10px;
    line-height: 22px;
    font-size: 13px;
    color: #6f5949;
}

.number {
	color: #ff540f;
	font-size: 16px;
	font-weight: bold;
}

.more {
	font-size: 11px;
    color: #818181;
    line-height: 18px;
    padding: 0px 3px;
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    background: linear-gradient(0deg, #eee, #fff);
}

.itemTitle {
	margin-bottom: 5px;
}

.item-desc {
    position: relative;
    padding: 10px;
    border-top: 3px solid #c9c9c9;
}

.item-desc .item-description {
	margin: 0px auto 10px;
}

.item-desc .item-description p {
	margin: 0px auto;
	font-size: 13px;
}

.row{
	margin: 10px 0;
	font-size: 15px;
}

.row-title {
	display: inline-block;
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    /*width: 90px;*/
    margin: 0 5px 0 0;
    font-weight: bold;
}

.row-value {

}

.row-value.price {
	color: #FF0000;
	font-size: 30px;
	font-weight: bold;
}


.item-purchase {
	position: relative;
    min-height: 40px;
    margin-top: 25px;
    padding: 6px 2px 6px 12px;
    background-color: #f1f1f1;
    border-radius: 8px;
    -webkit-box-shadow: inset 0 -5px rgba(0,0,0,.02), 0 1px rgba(0,0,0,.1);
    box-shadow: inset 0 -5px rgba(0,0,0,.02), 0 1px rgba(0,0,0,.1);
}

.item-purchase-row {
    display: block;
    position: relative;
    margin: 10px 0;
}

.item-purchase-title {
	display: inline-block;
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    width: 70px;
    margin-right: 5px;
    vertical-align: middle;
    line-height: 20px;
    color: #818181;
}

.item-purchase-value {
	vertical-align: middle;
    line-height: 20px;
}

.shopping-cart-icon {
	display: inline-block;
    padding-left: 35px;
	background-image: url('../images/pchome/cart-icon.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: left center;
}

.chat-icon {
	display: inline-block;
	padding-left: 35px;
	background-image: url('../images/pchome/chat-icon.png');
	background-size: auto;
    background-repeat: no-repeat;
    background-position: left center;
}

.item-share {
	height: 35px;
	background: url('../images/pchome/share.png') #fff;
	background-repeat: no-repeat;
	background-position: right center;
}

.tab-section {
	margin: 0px auto;
}

.item-tab {
	height: 35px;
	line-height: 35px;
    padding-left: 90px;
}

.tab1 {
	background: url('../images/pchome/tab1.gif') #fff;
	background-repeat: no-repeat;
	background-position: left center;
}

.tab2 {
	background: url('../images/pchome/tab2.gif') #fff;
	background-repeat: no-repeat;
	background-position: left center;
}

.tab-container {
	margin: 0 auto 30px;
    border-top: 1px dotted #666;
    border-bottom: 1px dotted #666;
}

.notice {
	text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: rgb(254, 1, 0);
    margin-top: 10px;
    word-wrap: break-word;
    word-break: break-all;
    background: rgb(253, 225, 141);
    padding: 3px 2px;
    margin: 10px auto;
}

.item-description {
	margin: 10px auto;

}

.item-description p {
	margin: 10px auto;
	line-height: 1.5em;
	font-size: 16px;
}

.item-image-wrap {
	position: relative;
    margin: 30px auto;
}

.item-image-wrap img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.btnRow {
	text-align: center;
    border-top: 3px solid #CCC;
    border-bottom: 0;
    padding: 10px 0;
}


footer {
	width: 1000px;
    margin: 0 auto;
    padding: 20px;
    font-size: 11px;
    text-align: center;
    color: #565656;
    border-top: 3px solid #F90;
}


/* swiper custom style*/
.swiper-container {
	width: 100%;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
}
.swiper-slide {
	background-size: cover;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}
.gallery-top {
	height: 280px;
	width: 100%;
	background-color: #fff;
}
.swiper-container.gallery-thumbs {
	height: 75px;
	box-sizing: border-box;
	margin-top: 10px;
	padding: 10px;
	background-color: #FFFFE3
}
.gallery-thumbs .swiper-slide {
	/*width: 25%;*/
	width: 55px;
	height: 100%;
	opacity: 0.8;
	box-sizing: border-box;
}
.gallery-thumbs .swiper-slide-thumb-active {
	opacity: 1;
	-webkit-box-shadow: 0 0 0 2px #FF4800;
    box-shadow: 0 0 0 2px #FF4800;
}