* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

html, body {
	width: 100%;
	min-height: 100%;
	/*font-family: "微軟正黑體", Microsoft JhengHei, Arial, sans-serif;*/
	font: 16px Arial,helvetica,clean,"微軟正黑體", Microsoft JhengHei,sans-serif;
	margin: 0;
	padding: 0;
	-webkit-text-size-adjust: none;
}

.wrapper {
	position: relative;
	width: 100%;
	min-width: 1250px;
	min-height: 100vh;
	background-color: #f1f1f5;
}

/* Common style */
h1 {
	font-size: 24px;
	line-height: 1.3em;
	font-weight: bold;
	margin-bottom: 20px;
}

h2 {
	line-height: 1.5em;
	font-weight: bold;
}

h3 {
	line-height: 1.5em;
	font-weight: bold;
}

h4 {
	line-height: 1.7em;
	font-weight: bold;
}

h5 {
	line-height: 1.7em;
	text-align: center;
}

label.aTag {}

label.checkbox {
	display: inline-block;
    line-height: 30px;
    margin-right: 5px;
    padding: 0 10px;
    vertical-align: middle;
    color: #5d5d5d;
    border: 2px solid #e0e4e9;
    background: #fff;
}

label.qty-btn {
	display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 27px;
    font-size: 17px;
    font-weight: bold;
    line-height: 25px;
    color: #b9bdc5;
    border: 2px solid #e0e4e9;
}

label.input {
	display: inline-block;
    padding: 0 5px;
    width: 55px;
    line-height: 25px;
    text-align: center;
    vertical-align: middle;
    border: 2px solid #e0e4e9;
    border-width: 2px 0;
    background-color: #fff;
}

label.btn {
	display: inline-block;
    min-width: 150px;
    line-height: 25px;
    margin-right: 10px;
    font-weight: bold;
    border-radius: 24px;
    padding: 10px 0;
    box-sizing: border-box;
    text-align: center;
    color: #26282a;
    border: 2px solid #e0e4e9;
}

.btn.btnGreen {
	border: 2px solid #3abfba;
    background: #3abfba;
    color: #fff;
    min-width: auto;
    padding: 7px 30px;
    font-size: 14px;
}

.btn.btnYellow {
    border: 2px solid #fcda19;
    background: #fcda19;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clearfix::after {
	content: '';
	display: block;
	clear: both;
}

.flexWrap {
	display: -webkit-flex;
	display: flex;
}

.flex0 {
	-webkit-flex: none;
	-ms-flex: none;
	flex: none;
}

.flex1 {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.numberLarge {
	font-size: 20px;
	font-weight: bold;
}


header {
    width: 100%;
    min-width: 1250px;
    margin: 0 auto;
    padding: 0;
}

.header-top{
	height: 28px;
	background: url('../images/yahoo/header_top.png') #2e0b53;
	background-repeat: no-repeat;
	background-position: center;
}

.header-main {
	height: 92px;
	background: url('../images/yahoo/header_main.png') #fcda19;
	background-repeat: no-repeat;
	background-position: center;
}

main {
    display: block;
	width: 1250px;
	/*max-width: 1300px;*/
	margin: 0 auto;
	padding: 0 20px;
}

.breadcrumb {
	margin: 2em 0 1em;
	line-height: 26px;
	font-size: 16px;
	color: #B9BDC5;
}

.breadcrumb label {
	padding: 0 5px;
	color: #26282a;
}

.breadcrumb label:first-child {
	padding: 0 5px 0 0;
}

.sellerInfo {
	position: relative;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #e0e4e9;
    margin-bottom: 1em;
}

.sellerInfoBox {
	display: flex;
    padding: 1em 0;
    position: relative;
}

.infoBox {
	display: flex;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    -o-flex: 1;
    flex: 1;
    padding-left: 1.5em;
    border-right: 1px solid #e0e4e9;
}

.storeLogoBox {
    flex: none;
    width: 180px;
}

.storeLogo {
	margin: 0;
    height: 100%;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    align-items: center;
}

.storeLogo img {
    width: 100%;
    display: block;
}

.mainInfoBox {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-left: 1em;
    display: flex;
}

.sellerProfileBox {
    overflow: hidden;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.sellerNameBox {
    max-height: 40px;
    overflow: hidden;
    margin-bottom: 4px;
}

.sellerName {
    color: #3abfba;
    font-size: 18px;
    word-break: break-all;
}

.moreProfileBox {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    font-size: .75em;
    line-height: 1.333em;
    color: #979ba7;
}

.moreProfileBox abbr:nth-child(2) {
    margin-left: .333em;
}

.moreProfileBox abbr:nth-child(2):before {
    content: "/";
    margin-right: .333em;
}

.moreProfileBox span:nth-child(3) {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.followSellerBox {
    display: flex;
    width: 130px;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

.dashboardBox {
    flex: 1;
    min-height: 75px;
    padding: 0 1em;
    background: url('../images/yahoo/dashboardBox.png') #fff;
	background-repeat: no-repeat;
	background-position: center;
}

.intro-section {
	display: flex;
	background-color: #fff;
    border-radius: 4px;
    border: 1px solid #e0e4e9;
}

.intro-section-left {
	width: 500px;
	flex: none;
	padding: 1.5em 0 1.5em 1.5em;
}

.intro-section-right {
	flex: 1;
	padding: 1.5em 1.5em 1.5em 1em;
}

.item-gallery {}

.item-share {
	height: 35px;
	margin: 20px auto;
	background: url('../images/yahoo/share_icon.png') #fff;
	background-repeat: no-repeat;
	background-position: right center;
}

.item-desc {
    position: relative;
}

.itemTitle {
	margin-right: 3.333em;
    margin-bottom: .5em;
	color: #26282a;
}

.watchlist{
	position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    border: none;
    background: none;
    margin: 0;
    padding: 0;
}

.watchWrap {
	display: block;
    width: 48px;
    height: 48px;
    background: url(../images/yahoo/like_icon.svg) no-repeat center;
    -ms-transform: scale(1);
    background-size: 48px;
}

.likeCount {
	display: block;
    font-size: .938em;
    margin-top: .267em;
    padding-right: 0;
    color: #979ba7;
    height: 1.667em;
    line-height: 1.667em;
}

.subtitle {
	font-size: 15px;
    margin-top: .8em;
    color: #979ba7;
}

.item-purchase {
	position: relative;
    min-height: 40px;
    margin-bottom: 10px;
}

.item-purchase-row {
    display: block;
    position: relative;
    margin: 25px 0;
}

.item-purchase-title {
	display: inline-block;
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    width: 100px;
    margin-right: 5px;
    vertical-align: middle;
    line-height: 20px;
    color: #26282a;
    font-size: 15px;
}

.item-purchase-value {
	vertical-align: middle;
    line-height: 20px;
}

.item-purchase-value.orig-price {
    text-decoration: line-through;
}

.item-purchase-value.price {
	color: #fa1229;
	font-size: 28px;
	font-weight: bold;
}

.item-purchase-value.soldQty {
	margin-left: 5px;
    font-size: 15px;
	color: #979ba7;
}

.qty {
	margin: 0 -5px;
}

.chat-icon {
	display: inline-block;
	padding-left: 30px;
	background-image: url('../images/yahoo/chat_icon.png');
	background-repeat: no-repeat;
    background-position: left center;
}

.row{
	margin: 10px 0;
}

.row-title {
	display: inline-block;
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    width: 100px;
    margin-right: 5px;
    vertical-align: middle;
    line-height: 20px;
    color: #26282a;
    font-size: 15px;
}

.row-value {

}

.item-info {
	display: flex;
	border-top: 1px solid #ddd;
}

.item-info-detail {
	flex: 1;
}

.item-slogan-box {
	flex: none;
	width: 330px;
	margin-left: 10px;
	background-image: url('../images/yahoo/slogan_box.png');
	background-repeat: no-repeat;
    background-position: left center;
}

.tab-section {
	margin: 40px auto;
	background-color: #fff;
    border-radius: 4px;
	border: 1px solid #e0e4e9;
}

.item-tab {
	display: flex;
	height: 50px;
}

.tabs {
	flex: 1;
	line-height: 50px;
	border-bottom-width: 4px;
	border-bottom-style: solid;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	cursor: default;
}

.tab1 {
	background-color: #d8f2f1;
    border-bottom-color: #3abfba;
    color: #26282a;
}

.tab2 {
	background-color: #fff;
    border-bottom-color:#e0e4e9;
    color: #979ba7;
}

.tab-container {
	padding: 25px;
}

.item-description {
	margin: 10px auto;
}

.item-description p {
	margin: 10px auto;
	line-height: 1.5em;
	font-size: 16px;
}

.item-image-wrap {
	position: relative;
    margin: 30px auto;
}

.item-image-wrap img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}


footer {
	height: 240px;
    margin: 0 auto;
    background: url('../images/yahoo/footer.png') #f1f1f5;
	background-repeat: no-repeat;
	background-position: top center;
}


/* swiper custom style*/
.swiper-container {
	width: 100%;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
}
.swiper-slide {
	background-size: cover;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}
.gallery-top {
	height: 480px;
	width: 100%;
	background-color: #fff;
}
.swiper-container.gallery-thumbs {
	height: 70px;
	box-sizing: border-box;
	padding: 10px 10px 5px;
}
.gallery-thumbs .swiper-slide {
	/*width: 25%;*/
	width: 55px;
	height: 100%;
	opacity: 0.8;
	box-sizing: border-box;
	border-radius: 2px;
}
.gallery-thumbs .swiper-slide-thumb-active {
	opacity: 1;
	-webkit-box-shadow: 0 0 0 3px #3abfba;
    box-shadow: 0 0 0px 3px #3abfba;
}